
a {text-decoration: none;}

.toggleMenu {
    display:  none;
    background: #666;
    padding: 10px 15px;
    color: #fff;
}
.nav {
    font-size:13px;
    list-style: none;
     *zoom: 1;
     background:#009bb8;
}
.nav:before,
.nav:after {
    content: " "; 
    display: table; 
}
.nav:after {
    clear: both;
}
.nav li a
{
    text-align:center;
}
.nav li ul li a
{
    text-align:left;
    left:5%;
}
nav ul li ul li a:hover
{
    background:#797979;
}
.nav ul {
    list-style: none;
    width: 11em;
}
.nav a {
    padding: 6px 4px;
    color:#fff;
}
.nav li {
    position: relative;
    width:160px;
}
.nav > li {
    float: left;
}
.nav > li > .parent {
    background-image: url("images/downArrow.png");
    background-repeat: no-repeat;
    background-position: right;
}
.nav > li > a {
    display: block;
}
.nav li  ul {
    position: absolute;
    left: -9999px;
}
.nav > li.hover > ul {
    left: 0;
}
.nav li li.hover ul {
    left: 100%;
    top: 0;
}
.nav li li a {
    display: block;
    background: rgb(45,45,45);
    position: relative;
    z-index:100;
    border-top: 1px solid #797979;
}
.nav li li li a {
    background:#249578;
    z-index:200;
    border-top: 1px solid #1d7a62;
}

@media screen and (max-width: 768px) {
    .active {
        display: block;
    }
    .nav > li {
        border-top: 1px solid #797979;
        float: none;
        width:100%;
    }
    .nav > li > .parent {
        background-position: 95% 50%;
    }
    .nav li li .parent {
        background-image: url("images/downArrow.png");
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }
    .nav ul {
        display: block;
        width: 100%;
    }
    .nav li ul li
    {
        width:100%;
    }
    .nav li ul li a
    {
        left:0;
        text-align:center;
    }
   .nav > li.hover > ul , .nav li li.hover ul {
        position: static;
    }

}