$camara:#099ABB;
body {
    .navbar{
        background-color:$camara!important;
        min-height:initial;
        margin-bottom:12px!important;
        .navbar-nav{
            &>li{
                &>a{
                    padding-top:10px!important;
                    padding-bottom:10px!important;
                    font-size:.9em;
                }
                .dropdown-menu li>a{
                    font-size:.9em!important;
                    padding:5px 10px;
                    span{
                        font-size:1em;
                    }
                }
            }
        }
    }
}
